# Configure Bazel to trust any self-signed SSL certificates.
# startup --host_jvm_args=-Djavax.net.ssl.trustStore='<truststore>'

build --java_runtime_version=remotejdk_21

build --action_env=LOCALAPPDATA
build --action_env=APPDATA
build --action_env=TEMP
build --action_env=TMP
build --action_env=USERPROFILE

# Configure Bazel to use Vector's and Bazel Central Registry for fetching external dependencies.
common --registry=https://raw.githubusercontent.com/vectorgrp/bazel-registry/main
common --registry=https://bcr.bazel.build
